@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
  color: white;
  background-color: rgb(0,0,0);
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto Flex", -apple-system, "system-ui", sans-serif;
  font-weight: 300;
  max-width: 1480px;
}

h1,h2,h3,h4 {
  font-family: "Roboto Flex", -apple-system, "system-ui", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.33em 0;
  font-size: 250%;
}

h3 {
  font-size: 175%;
}

h5 {
  font-size: 115%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

button {
  color: white;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

img {
  display: block;
  width: 100%;
}

.centered {
  text-align: center;
}

span.red {
  color: rgb(162,42,51);
}

.btn {
  padding: 0.33em 1em;
  border-radius: 0.75em;
  font-size: 133%;
  background-color: rgb(162,42,51);
}

.content {
  margin: 2em 3em;
}

.icon.social {
  font-size: 150%;
}

.icon.social:hover {
  cursor: pointer;
}

.icon.social:not(:first-of-type) {
  margin: 0 0.5em;
}

section.stripe {
  position: relative;
  margin: 0.5em 2em;
  text-align: center;
}

section.stripe.dual-bars:before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

section.stripe.dual-bars:after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
}

section.stripe.dual-red-bar:before {
  content: "";
  width: 15%;
  height: 2px;
  background-color: rgb(162,42,51);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

section.stripe.dual-red-bar:after {
  content: "";
  width: 15%;
  height: 2px;
  background-color: rgb(162,42,51);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
}

section.stripe header {
  position: relative;
  text-align: center;
  padding-bottom: 1em;
}

section.stripe header:after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

body > header {
  position: static;
  top: 0;
  display: grid;
  grid-template-columns: minmax(150px, 250px) auto;
  background-color: rgba(0,0,0,0.45);
  height: 40px;
  padding: 1em 1em;
  border-bottom: 2px solid rgb(162,42,51);
}

body > header > h1 {
  margin: 0;
  padding: 0;
}

body > header > h1 img {
  width: 188px;
  height: 45px;
}

body > header > nav {
  text-align: right;
}

body > header > nav ul {
  list-style-type: none;
}

body > header > nav ul li {
  display: inline-block;
  padding: 0 1em;
}

main > .hero {
  position: relative;
  min-height: 66vh;
  background-color: rgba(0,0,0);
  margin-bottom: 10em;
}

main > .hero > .gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/n5267q.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: ellipse(64% 74% at 50% 36%);
  border-bottom: 5px solid rgb(162,42,51);
}

main > .hero > .gallery.avionics {
  background-image: url("/images/instrument.png");
}

main > .hero > .gallery.about {
  background-image: url("/images/private.png");
}

main > .hero > .cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 45%);
  background-color: rgba(0,0,0,0.66);
  width: 60vw;
  text-align: center;
}

main > .hero > .cta > .cta-action {
  padding: 1em 0;
}

main > .stripe.flight-training {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;

  margin-top: 2em;
  text-align: center;
}

main > .stripe.flight-training h3 {
  margin: 0;
  padding: 0.5em 0;
}

main > .stripe.flight-training > div {
  box-shadow: inset 0px 0px 50px 14px #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main > .stripe.flight-training > div > div {
  height: 100%;
  background-color: rgba(0,0,0,0.66);
  padding: 3em 2em;
}

main > .stripe.flight-training .instrument {
  background-image: url("/images/instrument.png");
}

main > .stripe.flight-training .private {
  background-image: url("/images/private.png");
}

main > .stripe.flight-training .commercial {
  background-image: url("/images/commercial.png");
}

main > .stripe.rentals-stripe, main > .stripe.instructors-stripe {
  margin: 5em 0;
}

main > section.instructors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2em;
  padding: 0.25em 3em;
}

main > section.instructors figure {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5em;
}

main > section.instructors img {
  height: 100%;
}

main > section.instructors h3 {
  font-size: 120%;
}

main > section.instructors h4 {
  font-size: 105%;
}

main > section.biolist.instructors > div {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 2em;
  background-color: rgba(49, 49, 49, 0.45);
  border-radius: 0.5em;
}

main > section.biolist.instructors > div > div {
  margin: auto;
  padding: 0.75em;
}

main > section.biolist.maintenance-staff {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
  text-align: left;
  margin-top: 3em;
  padding: 0 2em;
}

main > section.maintenance-staff > div {
  position: relative;
  min-height: 250px;
  /*
  background-color: rgb(162,42,51);
  padding: 0.25em 0;
  */
  background-image: url("/images/cfiplaceholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 50px 2px #000;
}

main > section.biolist.maintenance-staff > div header {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main > section.biolist.maintenance-staff h3 {
  max-width: 70%;
  margin: 0;
  font-size: 115%;
  background-color: rgb(162,42,51);
  padding: 0.25em 1em;
  font-weight: 500;
}

main > section.biolist.maintenance-staff h4 {
  font-size: 95%;
  padding: 0.33em 1em;
  background-color: #313131;
  font-weight: 400;
  text-transform: unset;
  max-width: 80%;
  margin: 0;
}

main > section.biolist.maintenance-staff figure {
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 5em;
  margin: 0 auto;
  overflow: hidden;
}

main > section.biolist.maintenance-staff figure img {
  height: 100%;
}

main > .stripe.rentals-stripe h2, main > .stripe.instructors-stripe h2 {
  padding: 0.33em 0;
}

main > section.rentals {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 0 3em;
}

main > section.rentals > div {
  position: relative;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 40px 10px #000; 
}

main > section.rentals > div > div {
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 2em 1em;
}

main > section.rentals > div > div > div {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0%);
}

main > section.rentals a:hover {
  cursor: pointer;
  font-size: 110%;
  transition: all 0.1s linear; 
}

main > section.rentals .n29239 {
  background-image: url("/images/n29239.png");
}

main > section.rentals .n104fs {
  background-image: url("/images/n104FS.jpeg");
}

main > section.rentals .n12919 {
  background-image: url("/images/n12919.jpeg");
}

main > section.rentals .n5267q {
  background-image: url("/images/n5267q.png");
}

main > section.rentals .n75866 {
  background-image: url("/images/n75866.png");
}

main > section.maintenance {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 2em;
  margin: 0 4em;
  margin-top: 5em;
  text-align: center;
}

main > section.maintenance h2 {
  margin-bottom: 1em;
}

main > section.maintenance > div {
  position: relative;
}

main > section.maintenance p {
  text-align: left;
  margin: 0 2em;
  margin-bottom: 1em;
}

main > section.maintenance ul {
  margin: 1em 0 0 5%;
  list-style-type: none;
  text-align: left;
}

main > section.maintenance .avionics-gallery, main .aircraft-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-gap: 1em;
  text-align: center;
  justify-self: center;
}

main > section.maintenance .cta {
  margin-top: 2.5em;
}

main > section.stripe.shop-rate-stripe {
  font-size: 80%;
  margin-top: 5em;
  margin-bottom: 3em;
}

footer {
  background-color: rgb(162,42,51);
  margin-top: 5em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.25em 2em;
  align-self: center;
  justify-self: center;
}

footer > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

footer > div, footer > div:first-of-type > div {
  margin: auto 0;
}

footer img {
  max-width: 125px;
}

footer h2 {
  font-size: 120%;
}

footer h3 {
  font-size: 90%;
  font-weight: 400;
}

/*
  
  Shared Components

*/

.gallery > .see-more {
  background: gray;
  background-image: url("/images/avionicspanel-1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 110px;
}

.gallery > .see-more > div {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*

  Aircraft Pages

*/

main > section.aircraft-specs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2em;
  margin: 0 auto;
  max-width: 75%;
  font-size: 120%;
  margin-bottom: 4em;
}

main > section.aircraft-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
  margin: 0 auto;
  max-width: 66%;
}

main > section.aircraft-details .manuals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

main > section.aircraft-details .manuals > div {
  margin-top: 1em;
  text-align: center;
}

main > section.aircraft-details .manuals > div a {
  border: 1px solid white;
  padding: 0.5em;
  border-radius: 0.25em;
  width: 100%;
  display: block;
}

main > section.aircraft-details > div > div {
  margin-left: 2em;
}

main > section.aircraft-spotlight {
  margin: 3em 3em;
}

/*

  Gallery Pages

*/

main > section.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  margin: 0 auto;
  margin-top: 3em;
  max-width: 90%;
}

/*

  Modal

*/

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

#gallery-modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

#gallery-modal > #gallery-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

#gallery-modal #gallery-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  transition: 0.3s;
}

#gallery-modal #gallery-modal-close:hover { cursor: pointer; }

.modal-image:hover {
  cursor: pointer;
}